{
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"airbnb-typescript"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"plugins": [
		"@typescript-eslint"
	],
	"env": {
		"browser": true
	},
	"rules": {
		"react/jsx-filename-extension": [0],
		"linebreak-style": "off",
		"no-bitwise": 0,
		"@typescript-eslint/ban-ts-comment": 0,
		"import/no-extraneous-dependencies": [0],
		"import/prefer-default-export": [0],
		"strict": [2, "global"],
		"space-before-function-paren": [2, "never"],
		"indent": "off",
  		"@typescript-eslint/indent": [2, "tab", {
			"SwitchCase": 1
		}],
		"dot-notation": [0],
		"no-restricted-globals": [0],
		"import/no-named-as-default": [0],
		"spaced-comment": 0,
		"no-tabs": 0,
		"no-confusing-arrow": 0,
		"arrow-parens": 0,
		"padded-blocks": [0],
		"camelcase": [0],
		"no-nested-ternary": [0],
		"no-unused-vars": [1],
		"no-trailing-spaces": [0],
		"arrow-body-style": [0],
		"newline-per-chained-call": [0],
		"prefer-template": [0],
		"import/extensions": [0],
		"import/no-unresolved": [0],
		"no-continue": [0],
		"no-return-assign": [0],
		"max-len": [0],
		"global-require": [0],
		"no-console": ["warn", { "allow": ["warn", "error"] }],
		"no-param-reassign": ["error", { "props": false }],
		"no-underscore-dangle": ["error", { "allowAfterThis": true }],
		"consistent-return": ["error", { "treatUndefinedAsUnspecified": true }],
		"no-cond-assign": [2, "except-parens"],
		"comma-dangle": ["error", {
			"arrays": "always-multiline",
			"objects": "always-multiline",
			"imports": "always-multiline",
			"exports": "never",
			"functions": "ignore"
		}],
		"no-use-before-define": [0],
		"lines-between-class-members": [0]
	}
}
